$candlesProfit: #26a69a;
$candlesLoss: #ef5350;
$candlesWidth: 20px;


.candlesExchange {
  border: 1px solid black;
  height: 300px;
  width: 600px;
  margin-left: 1200px;
  border-radius: 10px;
  background-color: #161b25;
}

.candlesFirst {
  height: 70px;
  margin-top: 200px;
  margin-left: 30px;
  width: 20px;
  background-color: $candlesProfit;
  //text-align: right;
}
.candlesTwo {
  height: 70px;
  width: $candlesWidth;
  background-color: $candlesProfit;
  margin-left: 55px;
  margin-top: -125px;
}
.candlesThree {
  height: 80px;
  width: $candlesWidth;
  background-color: $candlesLoss;
  margin-left: 80px;
  margin-top: -50px;
}
.candlesFour {
  height: 60px;
  width: $candlesWidth;
  background-color: $candlesLoss;
  margin-left: 105px;
  margin-top: -70px;
}
.candlesFive {
  height: 70px;
  width: $candlesWidth;
  background-color: $candlesProfit;
  margin-left: 130px;
  margin-top: -80px;
}
.candlesSeven {
  height: 50px;
  width: $candlesWidth;
  background-color: $candlesLoss;
  margin-left: 155px;
  margin-top: -20px;
}
.candlesEight {
  height: 80px;
  width: $candlesWidth;
  background-color: $candlesProfit;
  margin-left: 180px;
  margin-top: -120px;
}
.candlesNine {
  height: 80px;
  width: $candlesWidth;
  background-color: $candlesProfit;
  margin-left: 205px;
  margin-top: -130px;
}
.candlesTen {
  height: 150px;
  width: $candlesWidth;
  background-color: $candlesLoss;
  margin-left: 230px;
  margin-top: -50px;
}
.candlesEleven {
  height: 30px;
  width: $candlesWidth;
  background-color: $candlesLoss;
  margin-left: 255px;
  margin-top: -20px;
}
