$colorText: #ffffff;
$backgroundMiddle: "https://cdn.discordapp.com/attachments/616606511745204246/776101375578341376/cd9bfb2c29514b781b3accc6553eee5f.jpg";
$backgroundProfit: #d6ffef;
$colorProfit: #2ecc71;


.headerTicker p {
  font-size: 20px;
  padding-left: 10px;
}

.tickerIndexHeader {
  text-align: left;
  margin-top: -70px;
  padding-left: 250px;
  padding-bottom: 30px;
}

.tickerIndexHeader p{
  display: inline;
  padding-left: 25px;
  font-weight: 400;
  color: #2ecc71;
}
.tickerIndexHeader span {
  background-color: $backgroundProfit;
  padding: 15px;
  border-radius: 10px;
}

.logoHeader {
  margin-top: -45px;
  margin-left: 105px;
}

.logoHeader {
  position: absolute;
}

.logoText {
  margin-left: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 30px;
  width: 200px;
  height: 50px;
}

.logoText p{
  font-size: 20px;
  color: black;
  text-align: center;
  font-weight: 400;
}
.logoText span {
  font-weight: 900;
  color: #a59708
}
.backgroundMiddle {
  height: 500px;
}

nav li{
  list-style: none;
  display: inline;
  padding-left: 30px;
  font-size: 20px;
  font-weight: 400;
}

nav {
  margin-top: -110px;
  text-align: right;
  margin-right: 50px;
}
.whatsInvestingNav {
  color: #a59708;
  background-color: white !important;
  padding: 0 !important;
  font-weight: 900;
}
